main {
  display: flex;
  place-content: center;
  height: 100vh;
  padding: 20px;
  background-color: black;
}
.chat-container {
  background: rgb(11, 11, 11);
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  min-height: 80vh;
  position: relative;
  min-width: 320px;
  max-width: 400px;
}
