main {
  display: flex;
  place-content: center;
  height: 100vh;
  padding: 20px;
  background-color: black;
}
.chat-container {
  background: rgb(11, 11, 11);
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  min-height: 80vh;
  position: relative;
  min-width: 320px;
  max-width: 500px;
}
.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  max-height: 100%;
  padding: 10px 20px 50px 0px;
}
