.inner-message {
    background-color: rgb(222, 215, 215);
    color: rgb(41, 40, 40);
    padding: 10px 15px;
    border-radius: 8px;
    width: fit-content;
}
.message small {
    font-weight: 400;
    font-size: 12px ;
    color: white;
    margin-top: 5px;
    display: inline-block;
}
.message-sent {
    background-color: rgb(6, 6, 57);
    color: white;
}
.message-sent-container {
    align-self: end;
}
.message-sent-container small {
    display: flex;
    justify-content: flex-end;
}